/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --main-color: orange;
    --type: 'Open Sans', sans-serif;
    ;

    --secondary-color: #bbd57d;

}

body {
    font-family: var(--type);
    background-color: var(--secondary-color);
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    font-weight: 800;
}

h2 {
    font-size: 2em;
    font-weight: 800;
    
}

header {
    display: flex;
    padding: 5px;
    position: fixed;
    background: #ffe10f;
    width: 100vw;
    height: 40px;
    top: 0;
    box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.5);
}

h3 {
    flex: 1;
    font-size: 2em;
}

nav {
    padding: 20px px;
    flex: .5;
    justify-self: end;
}

nav a {
    margin: 0 25px;
}

.container {
    box-shadow: 2px 5px 5px grey;

    margin: 50px auto;
    width: 854px;
    background: var(--main-color);

}

section {
     padding-top: 60px;
}
#about {
    height: 70vh;

}


#twitch-embed {
    height: 100vh;
}

#research {

    height: 100vh;
    background: white;
}
